<div flex-gt-sm="90" flex-gt-md="80" layout="column">
  <h2 class="md-title inset">Hvad har du observeret?</h2>
  <md-card class="md-padding">
    <md-input-container>
      <label>Symptomer</label>
      <md-contact-chips
         ng-model="searchedSymptoms"
         md-contacts="querySearch($query)"
         md-contact-name="name"
         md-require-match="true"
         md-highlight-flags="i"
         filter-selected="true"
         placeholder="Skriv Symptomer">
      </md-contact-chips>
    <md-input-container>
    <md-content class="md-padding" layout="row">
      <md-button class="md-raised" ng-click="search(cards,searchedSymptoms)"> Søg </md-button>
    </md-content>
    <md-card class="md-padding" md-theme-watch ng-repeat="card in searchedCards">
      <md-card-title-text>
         <span class="md-headline"><a ng-href="/#/card/{{ card[1]._id }}">{{ card[1].title }}</a></span>
         <br>
         <span class="md-subhead">Relevans: {{card[0] * 100 | number: 2}}%</span>
         <br>
         <p>Symptomer: {{card[1].symptoms | joinBy: ', '}}</p>
       </md-card-title-text>
     </md-card>
  </md-card>
</div>
