<ng-include src="'views/card-nav.html'"></ng-include>
<md-toolbar class="md-theme-light" ng-style="{'background-image':'url({{card.imageurl}})'}">
    <h1 class="md-toolbar-tools">
      <span>{{ card.title }}</span>
    </h1>
</md-toolbar>
<md-content>
  <md-toolbar class="md-theme-light">
  <h2 class="md-toolbar-tools">
    <span>Symptoms</span>
  </h2>
</md-toolbar>
  <md-list>
    <md-list-item class="md-3-line" ng-repeat="symptom in card.symptoms">
      <div class="md-list-item-text">
        <h3>{{symptom}}</h3>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
  <h2 class="md-toolbar-tools">
    <span>Actions</span>
  </h2>
  <md-list>
    <md-list-item class="md-3-line" ng-repeat="action in card.actions">
      <div class="md-list-item-text">
        <h3>{{action}}</h3>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
  <h2 class="md-toolbar-tools">
    <span>Notices</span>
  </h2>
  <md-list>
    <md-list-item class="md-3-line" ng-repeat="notice in card.notices">
      <div class="md-list-item-text">
        <h3>{{notice}}</h3>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-content>
